<ion-content [fullscreen]="true">
  <h1>Sobre Nosotros</h1>
  <div class="div-nosotros">
    <ion-avatar>
      <img alt="Equipo Amongosito" src="assets/img/equipo.png" />
    </ion-avatar>
    <br>
    <ion-list lines="none">
      <ion-item>
        <ion-label>• Nowa Aguilera</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>• Scarlen Mateo</ion-label>
      </ion-item>
    </ion-list>
    <div class="div-texto">
      <h2>Nosotros somos:</h2>
      <p>Equipo Amongosito, ya hemos trabajado en proyectos anteriores, Nowa Aguilera se encarga de las logicas de codigo y Scarlen Mateo del diseño de las ventanas</p>
    </div>
  </div>
</ion-content>
