

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Ahora el botón apunta al menú local -->
        <ion-menu-button menu="menuAgregar"></ion-menu-button>
      </ion-buttons>
      <ion-title>Agregar Vehículo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        
        <ion-input label="Modelo" [(ngModel)]="modelo" label-placement="floating" fill="outline" placeholder="Modelo"></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input label="Marca" [(ngModel)]="marca" label-placement="floating" fill="outline" placeholder="Marca"></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input label="Color" [(ngModel)]="color" label-placement="floating" fill="outline" placeholder="Color"></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input label="Patente" [(ngModel)]="patente" label-placement="floating" fill="outline" placeholder="Patente"></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input label="Imagen" [(ngModel)]="imagen" label-placement="floating" fill="outline" placeholder="Imagen"></ion-input>
      </ion-item>
    </ion-list>
    <!-- aaaa -->

    <ion-button expand="block" color="primary" (click)="guardar()">
      Guardar Vehículo
    </ion-button>
  </ion-content>

